<div class="row">
  <div class="col-8 shadow-lg bg-white p-2">
    <div class="card">
      <div class="card-header">
        <h3>List your Property</h3>
      </div>
      <div class="card-body pb-2">
        <form (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm">
          <div>
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic info" formGroupName="BasicInfo">

                <div class="form-group col-12">
                  <label> I want to</label><br>
                  <div class="btn-group mb-1" btnRadioGroup formControlName="SellRent">
                    <label class="btn btn-outline-primary m-1" btnRadio="1" role="button" name="SellRent">Sell</label>
                    <label class="btn btn-outline-primary m-1" btnRadio="2" role="button" name="SellRent">Rent</label>
                  </div>
                  <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                    Please select sell or rent
                  </div>
                </div>

                <div class="form-group col-12">
                  <label> BHK</label><br>
                  <div class="btn-group" btnRadioGroup
                  formControlName="BHK"
                  name="BHK">
                    <label
                      *ngFor="let bhk of [1,2,3,4]"
                      class="btn btn-outline-primary m-1"
                      [btnRadio]="bhk" tabindex="0" role="button"
                      (click)="propertyView.BHK=bhk"
                      name="BHK">
                      {{bhk}}
                    </label>
                  </div>
                  <div class="error-block" *ngIf="BHK.invalid && nextClicked">
                    Please select BHK
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Property Type</label><br>
                  <div class="btn-group mb-1" btnRadioGroup formControlName="PType"
                    [(ngModel)]="propertyView.PType">
                      <label
                        *ngFor="let ptype of propertyType"
                        class="btn btn-outline-primary m-1"
                        [btnRadio]="ptype" tabindex="0" role="button"
                        name="SellRent">{{ptype}}
                      </label>
                  </div>
                  <div class="error-block" *ngIf="PType.invalid && nextClicked">
                    Please select property type
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Furnishing Type</label><br>
                  <div class="btn-group mb-1" btnRadioGroup formControlName="FType"
                  [(ngModel)]="propertyView.FType">
                    <label
                      *ngFor="let ftype of furnishType"
                      class="btn btn-outline-primary m-1"
                      [btnRadio]="ftype" tabindex="0" role="button"
                      name="SellRent">{{ftype}}
                  </label>
                  </div>
                  <div class="error-block" *ngIf="FType.invalid && nextClicked">
                    Please select Furnishing type
                  </div>
                </div>

                <div class="form-group col-12">
                  <label for="name">in Building/Socity/Project</label>
                  <input type="text" class="form-control mb-1"
                  formControlName="Name"
                  [(ngModel)]="propertyView.Name"
                  minlength="5">
                  <div class="error-block"
                  *ngIf="Name.invalid && (Name.touched || nextClicked)">
                  Please select building, society or project name
                  </div>
                </div>

                <div class="form-group col-12">
                  <label for="city">City</label>
                  <input type="text" class="form-control"
                  formControlName="City"
                  [(ngModel)]="propertyView.City">
                  <div class="error-block"
                  *ngIf="City.invalid && (nextClicked || City.touched)">
                    Please select city
                  </div>
                </div><br>
                <div class="d-grid">
                  <button class="btn btn-primary" type="button"  (click)="selectTab(1, BasicInfo.valid)">Next</button>
                </div>
              </tab>
              <tab heading="Pricing and Area" formGroupName="PriceInfo">
                <div class="form-group col-12">
                  <label *ngIf="SellRent.value==1">Price (in USD)</label>
                  <label *ngIf="SellRent.value==2">Rent (in USD)</label>
                  <input type="text" class="form-control"
                  formControlName="Price"
                    [(ngModel)]="propertyView.Price">
                    <div class="error-block"
                    *ngIf="Price.invalid && (nextClicked || Price.touched)">
                    Please Select
                    <span *ngIf="SellRent.value==1; else ShowRent">Price</span>
                    <ng-template #ShowRent>rent</ng-template>
                    </div>
                </div>

                <div class="form-group col-12">
                  <label>Security (in USD)</label>
                  <input type="text" formControlName="Security" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Maintenance (in USD)</label>
                  <input type="text" formControlName="Maintenance" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input type="text" class="form-control"
                  formControlName="BuiltArea"
                  [(ngModel)]="propertyView.BuiltArea">
                  <div class="error-block"
                    *ngIf="BuiltArea.invalid && nextClicked">
                      Please select built up area
                    </div>
                </div>

                <div class="form-group col-12">
                  <label>Carpet Area(in Sqr Feet)</label>
                  <input type="text" formControlName="CarpetArea" class="form-control">
                </div><br>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button" (click)="selectTab(2, PriceInfo.valid)">Next</button>
                  <button class="btn btn-primary" type="button" (click)="selectTab(0, PriceInfo.valid)">Back</button>
                </div>
              </tab>
              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="text" formControlName="FloorNo" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="text"  formControlName="TotalFloor" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <input type="text"  formControlName="Address" class="form-control">
                  <div class="error-block"
                  *ngIf="Address.invalid && (nextClicked || Address.touched)">
                    Please select address
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input type="text" formControlName="LandMark" class="form-control">
                </div><br>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button" (click)="selectTab(3, AddressInfo.valid)">Next</button>
                  <button class="btn btn-primary" type="button" (click)="selectTab(1, AddressInfo.valid)">Back</button>
                </div>
              </tab>
              <tab heading="Other Details" formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <label>Ready to move</label><br>
                  <div class="btn-group" formControlName="RTM" btnRadioGroup>
                    <label class="btn btn-outline-primary m-1" btnRadio="1" role="button" name="">Yes</label>
                    <label class="btn btn-outline-primary m-1" btnRadio="2" role="button" name="">No</label>
                  </div>
                  <div class="error-block" *ngIf="RTM.invalid && nextClicked">
                    Please select ready to move
                  </div>
                </div>

                <div class="form-group col-3">
                  <label>Possession/Avaialble From</label>
                  <input type="text" formControlName="PossessionOn" class="form-control" bsDatepicker
                    [bsConfig]="{containerClass:'theme-dark-blue'}">
                    <div class="error-block" *ngIf="PossessionOn.invalid
                    && (nextClicked || PossessionOn.touched)">
                    Please select establishment/possession date
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Age of Property</label>
                  <input type="text" formControlName="AOP" class="form-control">
                </div>

                <div class="form-group col-12">
                  <label> Gated community</label><br>
                  <div class="btn-group" formControlName="Gated" btnRadioGroup>
                    <label class="btn btn-outline-primary m-1" btnRadio="1" role="button" name="">Yes</label>
                    <label class="btn btn-outline-primary m-1" btnRadio="2" role="button" name="">No</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Main Entrance</label><br>
                  <div class="btn-group" formControlName="MainEntrance" btnRadioGroup>
                    <label *ngFor="let entry of mainEntrence" class="btn btn-outline-primary m-1" [btnRadio]="entry"
                      tabindex="0" role="button" name="SellRent">{{entry}}</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea type="text" formControlName="Description" class="form-control" rows="6"></textarea>
                </div><br>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button" (click)="selectTab(4, OtherInfo.valid)">Next</button>
                  <button class="btn btn-primary" type="button" (click)="selectTab(2, OtherInfo.valid)">Back</button>
                </div>
              </tab>
              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br>
                    This is under construction
                  </div>
                </div><br>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button" (click)="selectTab(3, true)">Back</button>
                  <button type="submit" class="btn btn-success">Save</button>
                  <button type="reset" class="btn btn-danger">Cancel</button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header">
      <h3>Your Property Privew</h3>
    </div>
    <div class="shadow-lg p-3 bg-white">
      <aap-property-card [property]="propertyView" [hideIcon]="true"></aap-property-card>
    </div>
  </div>
</div>
